html {
  scroll-behavior: smooth;
}


body {
  position: relative;
  background-color: #DDE0BD;
  display: flex;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}





.bottom{
  margin-top: 7%;
  width: 100vw;
  height: 100vh;
 }

.infoColumn{
  padding-bottom: 9%;
}

ul {
    margin-left: 28%;
    background-color: #D0D1AC;
    width: 40%;
    position: fixed;
    padding-top: 1%;
    padding-bottom: 1%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    gap: 1%;


}

ul li a {

    display: block;
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 20px;
    transition: color .4s ease, background-color .4s ease, transform .4s ease;



}

ul li a:hover {
  transform: translateY(-10%);
  color: white;
  background-color: rgba(0, 0, 0, 0.314);
}

#infoColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;              
  margin: 3rem auto 0 auto;
  width: 40%; 
}

.info-box {
  background-color: #F7EDF0;
  border-radius: 8px 20px 8px 20px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  transition: background-color .7s ease;
  transition: box-shadow .6s ease;
  text-align: center;
  width: 100%; 
}

.info-box:hover {
  box-shadow:
    5px 5px 0 #edefd0,
    10px 10px 0 rgb(189, 190, 155),
    15px 15px 0 rgb(59, 82, 73);
}

.info-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-detail {
  font-size: 1rem;
  color: #555;
}

button{
  background-color: #edefd0;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
  transition: transform .3s;

}

button:hover{
  transform: translateY(-20%);
}