body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DDE0BD;

}

.photo{
    position: relative;
}


.camera{
    display: flex;
    width: 50%;
    align-items: center;
    margin-left: 25%;
    justify-content: center;
    flex-direction: column;
    margin-top: 3%;
    position: absolute;
}

.video{
    border-radius: 20px;
    margin-bottom: 3%;
}

button{
    font-size: larger;
    background-color: #edefd0;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
    transition: transform .3s;
    
}

button:hover{
    transform: translateY(-20%);

}

.image-input{
    margin-bottom: 10%;
    width: 80%;
    
}

.bottom{
    position: fixed;
    display: flex;
    justify-content: center;
}

.submission{
    background-color: rgba(0, 0, 0, 0.165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 20px;
}
.submit-button{
    margin-bottom: 5%;
}

input[type="file"]::file-selector-button {
    font-size: larger;
    background-color: #edefd0;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
    transition: transform .3s;
  }

input[type="file"]::file-selector-button:hover{
    transform: translateY(-7%);

}

.canvas{
    border-radius: 20px;
}