
body {
  position: relative;
  background-color: #D0D1AC;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.fields{
  background-color: #bdbe9b7f;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  align-items: center;
  height: 300px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 2px 6px 8px rgba(0,0,0,0.1);

}

button{
  margin-top: 2%;
  background-color: #edefd0;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
  transition: transform .3s;
}

button:hover{
  transform: translateY(-20%);
}

input[type=text]{
  border-width: 1px;
  border-radius: 10px;
  height: 10px;
  width: 150px;
  padding: 1%;
  outline: none;
  border-style: solid;
  transition: 0.5s ease;
  
}

input[type=text]:focus {
  border-style: dashed;
}
