
.ryu {
display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}

.username {
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}





.mainPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  background-color: #ffffff;
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



button{
  margin-top: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
  transition: transform .3s;
}

button:hover{
  transform: translateY(-20%);
}

input[type=text]{
  border-radius: 10px;
  height: 10px;
  width: 150px;
  padding: 2%;
  outline: none;
  border-style: solid;
  transition: 0.3s ease;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
  border: none;
  
}

input[type=text]:focus {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.172);
}

input[type=file] {
  width: 30%;

}

input[type="file"]::file-selector-button {
    padding: 1%;
    border-radius: 10px;
    background-color: white;
    border-width: 1px;
    transition: transform .3s;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
    border: none;

  }

input[type="file"]::file-selector-button:hover{
    transform: translateY(-7%);

}

select{
  border-radius: 10px;
  padding: 1%;
  border:none;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);

}

.box{
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14.6%;
  background-color: rgba(117, 211, 243, 0.328);
  box-shadow: 6px 7px 8px rgba(0, 0, 0, 0.172);

  border-radius: 20px;
  padding: 4%;
  width: 30%;
}

