html {
  scroll-behavior: smooth;
}

body {
  position: relative;
<<<<<<< Updated upstream
}

.sectionTitle {
  display: flex;
  align-items: center;
  text-align: center;
  color: #32cf30;
  font-size: 2.5em;
  scroll-margin-top: 100px;
}

.sectionTitle::before,
.sectionTitle::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #ccc;
  margin: 0.5em;
}

.sectionTitle span {
  white-space: nowrap;
=======
  background-color: #D0D1AC;

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.info{
  background-color: #bdbe9b7f;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 2px 6px 8px rgba(0,0,0,0.1);

}

button{
  margin-top: 2%;
  background-color: #edefd0;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.172);
  transition: transform .3s;
}

button:hover{
  transform: translateY(-20%);
}

input[type=text]{
  border-width: 1px;
  border-radius: 10px;
  height: 10px;
  width: 150px;
  padding: 1%;
  outline: none;
  border-style: solid;
  transition: 0.5s ease;
  
}

input[type=text]:focus {
  border-style: dashed;
>>>>>>> Stashed changes
}