html {
  scroll-behavior: smooth;
}

.center2 {
  display: flex;
  justify-content: right;
}

p{
  margin: 0;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

img{
  width: 250%;
  height: auto;
  transition: transform .3s ease;

}

img:hover{
  transform: translateY(-1.5%);
}
a{
  width: 1%;
  margin-right: 2%;
}
.username {
  width: 100%;
  margin-top: 2%;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: flex;
  float: left;
  align-items: center;
  margin-left: 2%;
}


body {
  position: relative;
}

.section{
  display: flex;
  flex-direction: row;
}


.center{
  display: flex;
  justify-content: center;
}


.centerbox{
  text-align: center;
  background-color: #c0c0f6;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 40px;
  width: 40%;
  border-radius: 20px;
  gap: 3%;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.centerbox:hover{
  transform: translateY(-1%);
}






