html {
  scroll-behavior: smooth;
}

.center2 {
  display: flex;
  justify-content: right;
}

.username {
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}


body {
  position: relative;
}

.section{
  display: flex;
  flex-direction: row;
}


.center{
  display: flex;
  justify-content: center;
}


.centerbox{
  text-align: center;
  background-color: #c0c0f6;
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 40%;
  border-radius: 20px;
  gap: 3%;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}






