/*Style page for the HTML status page
* Lovissa - created log out button and formatted it (edited lines 25-68)
*/


html {
  scroll-behavior: smooth;
}

/*formats the div for the logout button and username*/
.center2 {
  display: flex;
  justify-content: left;
}

/*formats all the paragraph text*/
p{
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 0;
}

/*formats the log out button (including the image and the "log out" text*/
.button{
  margin-left: 2%;
  margin-right: 0;
  padding: 0;
  background-color: white;
  border:none;
  transition: transform .3s ease;
}

/*animates the log out button on hover*/
.button:hover{
  transform: translateY(-5%);
}

/*formats the log out button image*/
.userImg{
  width: 100%;
  height: auto;
  margin:0;

}

/*formats the user's name*/
.username {
  padding: 0;
  width: 100%;
  margin-top: 2%;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: flex;
  gap: 0px;
  float: left;
  align-items: center;
}

/*formats the area beneath the username and log out button*/
body {
  position: relative;
}

/*formats the div that contains the box with the user's pottery image*/
.center{
  display: flex;
  justify-content: center;
}

/*formats the div that contains the user's pottery image*/
.centerbox{
  text-align: center;
  background-color: rgba(117, 211, 243, 0.328);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 40%;
  border-radius: 20px;
  gap: 3%;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.167);
  transition: transform .3s ease;
  padding:2%;
}

/*creates the animation on hover for the image box*/
.centerbox:hover{
  transform: translateY(-4%);
}


