html {
  scroll-behavior: smooth;
}

.center2 {
  display: flex;
  justify-content: left;
}

p{
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  margin: 0;
}

.button{
  margin-left: 2%;
  margin-right: 0;
  padding: 0;
  background-color: white;
  border:none;
  transition: transform .3s ease;
}

.button:hover{
  transform: translateY(-5%);
}

img{
  width: 100%;
  height: auto;
  margin:0;

}

.username {
  padding: 0;
  width: 100%;
  margin-top: 2%;
  font-size: 22px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  display: flex;
  gap: 0px;
  float: left;
  align-items: center;

}


body {
  position: relative;
}

.section{
  display: flex;
  flex-direction: row;
}


.center{
  display: flex;
  justify-content: center;
}


.centerbox{
  text-align: center;
  background-color: rgba(117, 211, 243, 0.328);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 40%;
  border-radius: 20px;
  gap: 3%;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.167);
  transition: transform .3s ease;
  padding:2%;
}

.centerbox:hover{
  transform: translateY(-4%);
}


